body {
  /* background: url('/src/assets/bgimg.png') center/cover no-repeat fixed; */
  backdrop-filter: blur(7px) ;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: rgba(0, 0, 0, 0.4); */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.upload-card1 {
  background: #999999;
  backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 20px;
  /* padding-top: 50px; */
  width: 90%;
  max-width: 900px;
  margin:  auto;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow-x: auto;
}

.upload-card1 h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}

thead {
  background-color: rgba(255, 255, 255, 0.1);
}

td:nth-child(4) {
  color: #00ff84;
  font-weight: bold;
}

.dwonload {
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 8px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
  background-color: #666;
  color: white;
  transition: background 0.3s ease;
}

.dwonload:hover {
  background-color: #444;
}

.dwonload.blue {
  background-color: #007bff;
}

.dwonload.blue:hover {
  background-color: #0056b3;
}

.upload-card1::-webkit-scrollbar {
  height: 8px;
}

.upload-card1::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
